.root {
  user-select: none;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  .hover_caret {
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    position: absolute;
    height: 36px;
    right: auto;
    left: auto;
  }

  .activity_caret {
    width: 100%;
    background-color: rgba(49, 49, 49, 0.22);
    border-radius: 10px;
    position: absolute;
    height: 36px;
    right: auto;
    left: auto;
  }

  ul {
    display: flex;
    margin: 10px 0 0 0;
    background-color: #F5F5F5;
    border-radius: 10px;
    z-index: -11;
    .wrapper {
      z-index: 0;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-left: 0;
      }
    }
    .active {
      color: white;
    }
    li {

      width: auto;
      padding: 0 18.4px;
      height: 36px;
      min-height: 33px;
      display: flex;
      align-items: center;
      color: black;
      cursor: pointer;
      z-index: -10;
      .active {
        background-color: black;
        color: white;
      }
      &:first-child {
        margin-left: 0;
      }
      .text_span {
        z-index: 100;
      }
    }
  }
}